<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Recruitment System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Image/homeLayout.jpg" width="150" height="50">
            </div>
            <div class="form-group">
            </div>
            <div class="navbar-collapse collapse">


                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Current Openings", "Index", "JobsSearch")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li align:Right style="background-color:red">
                        @if (Session["EmailID"] != null)
                        {
                            @Html.ActionLink("Logout", "Logout", "Logins");
                        }
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li align:Right>@Html.ActionLink("MainContext", "Index", "MainContextSection")</li>
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                        <li align:Right>@Html.ActionLink("JobSeekerLogin", "JobseekerLogin", "Logins")</li>
                    </ul>*@

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderSection("Scripts", required: false)
        @RenderBody()
        <hr />
        <footer>
            <p>© @DateTime.Now.Year -Online Recruitment System</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>